[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
pyinstaller-setuptools = "*"
macholib = { version = "*", sys_platform = "== 'darwin'" }

[packages]
haproxy-log-analysis = {git = "https://github.com/kklimonda/haproxy_log_analysis", editable = true, ref = "75ecacd"}
configargparse = "*"
prometheus_client = "*"
tailhead = "*"

[requires]
python_version = "3.6"
